/* Play page boxes */

/* body {
    margin: 40px;
    background: #F17563;
    font-family: Open Sans;
    font-size: 25px;
  	color: #222;
} */

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    color: #444;
}

/* .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}  */

.flip-card {
    background-color: #DDDDDD;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 25px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 25px;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
  }
  
  .flip-card-front {
    text-align: center;
    background-color: #C16D87;
    color: #DDDDDD;
    border-radius: 25px;
  }
  
  .flip-card-back {
    background-color: #efb6bf;
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
  }

  .complete-button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    background-color: #282055;
  }

p {
  text-align: center;
}


/* CARDS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
  
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
padding: 2px 16px;
}

.button-play {
    border-radius: 4px;
    background-color:  #33cc00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-play span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-play span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-play:hover span {
    padding-right: 25px;
  }
  
  .button-play:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button-change {
    border-radius: 4px;
    background-color: #66ccff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-change span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-change span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-change:hover span {
    padding-right: 25px;
  }
  
  .button-change:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button-create {
    border-radius: 4px;
    background-color: #ff9933;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-create span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-create span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-create:hover span {
    padding-right: 25px;
  }
  
  .button-create:hover span:after {
    opacity: 1;
    right: 0;
  }

 /* CARD  */

/* div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  } */
/* FLIP CARD*/
/* 
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #F17563;
    font-family: Open Sans;
    font-size: 50px;
  	color: #222;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.flip-card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .flip-card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .flip-card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .flip-card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .flip-card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .flip-card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
} */

/* GRIDS FOR THE PLAY CARDS (taken from Pokemon) */
/* main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.grid-card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  } */